@font-face {
	font-family: 'GenesisSansHead-Regular';
	src: url('../Fonts/GenesisSansHead-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'GenesisSansText-Bold';
	src: url('../Fonts/GenesisSansText-Bold.ttf')  format('truetype');
}

@font-face {
	font-family: 'GenesisSansText-Regular';
	src: url('../Fonts/GenesisSansText-Regular.ttf')  format('truetype');
}





h1 {
    font-family: 'GenesisSansHead-Regular', sans-serif;
    font-size: 2.5rem;
    color: rgb(68, 68, 68);
    text-align: right;
}

th {
    font-family: 'GenesisSansText-Bold', sans-serif;
    font-size: 1rem;
    text-align: left;
    border-bottom: .0625rem solid rgb(200, 200, 200);
    padding: 5px 35px 5px 0px;
}

td {
    font-family: 'GenesisSansHead-Regular', sans-serif;
    font-size: 1rem;
    text-align: left;
    border-bottom: .0625rem solid rgb(200, 200, 200);
    padding: 5px 35px 5px 0px;
}