


h1 {

    font-size: 3em;
    color: blue;
}







th {
    font-size: large;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid gray;
    padding: 5px 35px 5px 0px;
}

td {
    font-size: large;
    font-weight: 100;
    text-align: left;
    border-bottom: 1px solid gray;
    padding: 5px 35px 5px 0px;
}